{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    {% if request.user != user %}{{profile}}{% else %}Mi perfil{% endif %} -
{% endblock titulo %}

{% block contenido %}
    <style>
        .banner{
            background: url("{% static 'img/bannerpredeterminado.jpg' %}");
            height: 10em;
            opacity: 0.1;
            max-height: 200px;
        }
        .navbar{
            background: #121212 !important; 
        }
        .burbuja{
            height: 100px;
            width: 100px;
            max-width: 100px;
            border-radius: 50%;
            position: relative;
            top: -40px;
            left: 20px;
        }
        .profile-picture{
            border-radius: 50%;
        }
        .user-info-container{
            display: flex;
        }
        .about-user-container{
            margin-top: 20px;
            padding-left: 40px;
        }
        .username{
            color: #fff;
            font-size: 1.9em;
        }
        .user-extrainfo-container{
            margin: 0;
            width: 30em;
            max-width: 200px;
            height: 20em;
            padding-left: 40px;
            max-height: 100px;
        }
        .stats{
            color: #fff;
            font-size: 1.1em;
        }
        .btn-action{
            background: #642bb1;
            border: none;
            color: #fff;
            transition: background 0.4s;
        }
        .btn-action:hover{
            background: #8548d4;
        }
        .create{
            padding-left: 40px;
        }
        .btn-link{
            color: #fff;
            background: #270358;
            text-decoration: none;
            /* border-top-left-radius: 25px;
            border-bottom-right-radius: 25px; */
            max-width: 90%;
            font-size: 1.2em;
            border: 1px solid inset;
        }
        .btn-link:hover{
            background: #642bb1;
            color: #fff;
        }
    </style>
    <section class="banner">
    </section>
    <section class="user-info-container">
        <div class="burbuja">
            <img src="{% if profile.photo %}{{profile.photo.url}}{% else %}{% static 'img/predeterminado.jpg' %}{% endif %}" class="img-fluid profile-picture">
        </div>    
        <div class="about-user-container">
            <h4 class="username">
                {{user.username}}
            </h4>
        </div>    
    </section>
    <div class="user-extrainfo-container mb-3">
        <p class="stats">
            Quizzes creados: {{user.quizzes.all.count}}
        </p>
        {% if request.user == user %}
            <!-- <a href="#" class="nav-link">
                Editar perfil
            </a> -->
            <a href="{% url 'logout' %}" class="nav-link">
                Cerrar sesi&oacute;n
            </a>
        {% endif %}
        <hr style="color:#fff;border:1px solid #fff;">
    </div>
    {% if request.user == user %}
    <section class="create" id="create">
        <a href="{% url 'create_quiz' user.username %}" class="btn btn-danger btn-action">
            Crear quiz
        </a>
    </section>
    {% endif %}

    <section class="created-quizzes">
        <style>
            .quiz-container{    margin: 0.4em;       border-right: 2px inset #642bb1;border-radius: 22px;}
            </style>
                <div class="container">
                    <br><br>                          
                    <div class="container text-center">
                        <!-- <h1 class="title">Quizzes: </h1> -->
                        <div class="flex-row">
                            {% for quiz in quizzes %}
                                <div class="d-inline-flex quiz-container" style="    flex-direction: column;">
                                    <a href="{{quiz.get_absolute_url}}" style="display:block;width:100% !important;padding: 0.2px;">
                                        <img src="{{quiz.imagen.url}}" class="img-fluid portada" style="border-top-left-radius: 22px;
                                        border-top-right-radius: 18px;">
                                    </a>
                                    <br>
                                    <div>
                                        <a href="{{quiz.get_absolute_url}}" class="btn btn-link">
                                            {{quiz.nombre}}
                                        </a> 
                                        <br><br>   
                                        {% if request.user == quiz.autor %}
                                            <div class="modal fade" id="exampleModalToggle{{quiz.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                                <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalToggleLabel">{{quiz}}</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                            Esta acci&oacute;n es irreversible. ¿Seguro que desea eliminar "{{quiz}}"?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a class="btn btn-danger" href="{% url 'delete_quiz' request.user.username quiz.id %}">Eliminar</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <a style="color:red;margin-right: 50%;text-decoration: none;" href="#exampleModalToggle{{quiz.id}}" class="material-icons" role="button" data-bs-toggle="modal">
                                                delete
                                            </a>
                                            <a style="color:#642bb1;text-decoration: none;" href="{% url 'create_questions' user quiz.slug %}" class="material-icons">
                                                edit
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% empty %}
                                <h2 style="color:#fff;">Este usuario no ha creado ning&uacute;n quiz.</h2>
                            {% endfor %}
                      </div>
                </div>
                <br><br>
                {% if user.quizzes.all.count %}
                    {% include 'includes/pagination.html' with page=quizzes %}    
                {% endif %}        
    </section>
{% endblock contenido %}